

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: rgb(252, 212, 217);
    height: 50px;
    align-items: center;
    margin-top: -10px;
    
}

.navbar li{
    padding-left: 100px;
    padding-right: 100px;
}

body {
    font-family: 'Dancing Script', cursive;
    background-color: rgb(197, 241, 255);
    
}

.AboutTheseAnimals {
    color: white;
    text-decoration: none;
}

.doggiestext{
    color: white;
    text-align: center;
    width: 600px;

}

.doggies{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Homeyay {
    color: white;
    text-decoration: none;
}

.hometext {
    text-align: center;
    width: 600px;
    color: white;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.OurGoals {
    color: white;
    text-decoration: none;
}

.goalstext {
    text-align: center;
    width: 600px;
    color: white;
}

.goals {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input[type="number"] {
    width: 200px;
}

.lastResult{
    color: white;
    padding: 3px;
}

.Contactsyay {
    color: white;
    text-decoration: none;
}

.contactstext {
    text-align: center;
    width: 600px;
    color: white;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    color: white;
}

.adoption {
    color: white;
}

.Dog {
    width: 350px;
    height: 300px;
}

.cutie {
    color: white;
}

.websiteee {
    width: 450px;
    height: 300px;
}

.hiii {
    justify-content: center;
    display: flex;
}
