.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar li{
    padding-left: 100px;
    padding-right: 100px;
}

body {
    font-family: 'Dancing Script', cursive;
}