

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 225, 229);
    height: 50px;
    align-items: center;
    margin-top: -10px;
    
}

.navbar li{
    padding-left: 100px;
    padding-right: 100px;
}

body {
    font-family: 'Dancing Script', cursive;
    background-color: rgb(217, 240, 248);
    
}

.AboutTheseAnimals {
    color: pink;
}

.doggiestext{

    text-align: center;
    width: 600px;

}

.doggies{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Homeyay {
    color: pink;
}

.hometext {
    text-align: center;
    width: 600px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.OurGoals {
    color: pink;
}

.goalstext {
    text-align: center;
    width: 600px;
}

.goals {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input[type="number"] {
    width: 200px;
}

.lastResult{
    color: white;
    padding: 3px;
}

.Contactsyay {
    color: pink;
}

.contactstext {
    text-align: center;
    width: 600px;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dog {
    width: 350px;
    height: 300px;
}